Day 1/.ipynb_checkpoints/09AM_Electron_Optics-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Day 1/.ipynb_checkpoints/11AM_Ronchigram-checkpoint.ipynb
Day 1/.ipynb_checkpoints/4PM_Atom_Finding_Hackathon-checkpoint.ipynb
Day 2/.ipynb_checkpoints/09AM_Basic_Diffraction-checkpoint.ipynb
Day 2/.ipynb_checkpoints/10AM_Acquire_CBED-checkpoint.ipynb
Day 2/.ipynb_checkpoints/11AM_Dynamic_Diffraction-checkpoint.ipynb
Day 2/.ipynb_checkpoints/11AM_Dynamic_Diffraction_Si-checkpoint.ipynb
Day 2/.ipynb_checkpoints/1PM_Analyze_CBED_Pattern-checkpoint.ipynb
Day 2/09AM_Basic_Diffraction.ipynb
Day 3/.ipynb_checkpoints/11AM_Analyze EDS-checkpoint.ipynb
Day 3/.ipynb_checkpoints/10AM_Acquire_EDS_Spectra-checkpoint.ipynb
Day 3/.ipynb_checkpoints/09AM_Introduction_Spectroscopy-checkpoint.ipynb
Day 3/.ipynb_checkpoints/11AM_Analyze_EDS-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3PM_Analyse_LowLoss_EELS-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3PM_Analyze_LowLoss_EELS-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3PM_Analyze_CoreLoss_EELS-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3PM_Analyze_LowLoss_EELS-Copy1-checkpoint.ipynb
